# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Pytest
.pytest_cache/

# VSCode
.vscode/

# Streamlit cache
.streamlit/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary
temp/
